## loop(반복문)

- 반복적인 작업을 가능하게 해주는 도구
- list, str, tuple 등 컬렉션 타입의 경우 아이템을 하나씩 순회하면서 사용(for)
- 특정 조건을 만족하는 경우 계속 수행(while)

1. 반복 횟수 알고 있음: for
2. 반복 횟수 모름: while

## 반복문(for)

In [55]:
# 컬렉션 타입을 활용한 반복문
list_a = [1,2,3]

for num in list_a:
    print(num)

1
2
3

In [56]:
# range() 함수를 활용한 반복문
# range(1, 11)

for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [57]:
# enumerate() 활용한 반복문
# - 반복 횟수(인덱스) 알고 싶은 경우 사용
a=[7,8,9]
for i, val in enumerate(a):
    print(i, val)

0 7
1 8
2 9

In [58]:
# 중첩 for문
for i in range(5):
    for j in range(3):
        print(i,j)

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2
3 0
3 1
3 2
4 0
4 1
4 2

In [59]:
a = ["A", "B", "C", "D"]
for i, val in enumerate(a):
    print(f"index: {i}, value: {val}")

index: 0, value: A
index: 1, value: B
index: 2, value: C
index: 3, value: D

In [60]:
# dict type
a = {
    "korea" : "seoul",
    "japan" : "tokyo",
    "canada": "ottawa"
}

for key in a:
    print(key)

korea
japan
canada

In [61]:
a = {
    "korea" : "seoul",
    "japan" : "tokyo",
    "canada": "ottawa"
}

for value in a.values():
    print(value)

seoul
tokyo
ottawa

In [62]:
a = {
    "korea" : "seoul",
    "japan" : "tokyo",
    "canada": "ottawa"
}

for key, value in a.items():
    print(key, value)

korea seoul
japan tokyo
canada ottawa

In [63]:
# break: 반복문 종료
a = [1,2,3,4,5]

for num in a:
    if num > 3:
        break
    print(num)

1
2
3

In [64]:
# continue: 해당 반복을 건너뛰고 다음 반복으로 이동(반복문 종료X)

a=[1,2,3,4,5]

for num in a:
    if num % 2 == 0:
        continue
    print(num)

1
3
5

## 연습문제

In [3]:
# 문제1. 구구단 출력
# 2 x 1 = 2
# 2 x 2 = 4
# ...
# 2 x 9 = 18

for i in range(1, 10):
    print(f"2 x {i} = {2*i}")

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

In [15]:
num = int(input("단수: "))

for i in range(1, 10):
    print(f"{num} x {i} = {num*i}")

단수: 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

In [19]:
# 2단 ~ 9단 출력

for i in range(2, 10):
    for j in range(1, 10):
        print(f"{i}x{j} = {i*j}")

2x1 = 2
2x2 = 4
2x3 = 6
2x4 = 8
2x5 = 10
2x6 = 12
2x7 = 14
2x8 = 16
2x9 = 18
3x1 = 3
3x2 = 6
3x3 = 9
3x4 = 12
3x5 = 15
3x6 = 18
3x7 = 21
3x8 = 24
3x9 = 27
4x1 = 4
4x2 = 8
4x3 = 12
4x4 = 16
4x5 = 20
4x6 = 24
4x7 = 28
4x8 = 32
4x9 = 36
5x1 = 5
5x2 = 10
5x3 = 15
5x4 = 20
5x5 = 25
5x6 = 30
5x7 = 35
5x8 = 40
5x9 = 45
6x1 = 6
6x2 = 12
6x3 = 18
6x4 = 24
6x5 = 30
6x6 = 36
6x7 = 42
6x8 = 48
6x9 = 54
7x1 = 7
7x2 = 14
7x3 = 21
7x4 = 28
7x5 = 35
7x6 = 42
7x7 = 49
7x8 = 56
7x9 = 63
8x1 = 8
8x2 = 16
8x3 = 24
8x4 = 32
8x5 = 40
8x6 = 48
8x7 = 56
8x8 = 64
8x9 = 72
9x1 = 9
9x2 = 18
9x3 = 27
9x4 = 36
9x5 = 45
9x6 = 54
9x7 = 63
9x8 = 72
9x9 = 81

In [23]:
# 문제2. 1~30까지 정수 중 2의 배수 또는 11의 배수를 모두 출력

for i in range(1, 30 + 1):
    if i % 2 == 0 or i % 11 == 0:
        print(i)

2
4
6
8
10
11
12
14
16
18
20
22
24
26
28
30